<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <title>BurgerApp</title>
</head>
<body>
  <div class="container">
    <div class="row m-3">
      <div class="col-12 text-center m-3">
        <h1>Eat-Da-Burger!</h1>
        <div class="input-group m-3">
          <form class="col-12">
            <input id="burgerName" type="text" class="form-control align-center"
              placeholder="What burger would you like to eat?" aria-label="What burger would you like to eat?"
              aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    {{{ body }}}
    <script src="/javascript.js"></script>
  </div>
</body>
</html>
