<div class="row">
  <div class="col-sm-6">
    <div class="card card-state">
      <div class="card-body">
        <h5 class="card-title">Ready to Devour!</h5>
        <ul>
          {{#each burgers}}
          {{#unless devoured}}
          <li>
            {{burger_name}}
            <button class="devourButton" data-id="{{id}}">Devour!</button>
          </li>
          {{/unless}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card card-state">
      <div class="card-body">
        <h5 class="card-title">Finished</h5>
        <ul>
          {{#each burgers}}
          {{#if devoured}}
          <li>
            {{burger_name}}
          </li>
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
