body {
  background-image: url(/images/hamburger.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  min-width: 100vw;
}

h1 {
  font-family: 'Pacifico';
}

h5 {
  color: black;
  text-align: center;
  font-weight: bolder;
}

.card-state {
  background-color: rgba(200, 200, 200, 0.4)
}

li {
  font-weight: bold;
  text-align: left;
}
